<div class="container-fluid" data-aos="slide-right" data-aos-duration="1500">
  <div
    class="row justify-content-center py-5 text-light"
    style="background-color: #212529; height: 500px"
  >
    <div class="col-10 text-center align-self-center times-font">
      <span class="fs-3"
        ><span class="text-success">Tentang</span> Dinas Koperasi
        <span class="text-danger">dan</span> UKM</span
      >
      <hr />
      <p class="fs-5 text-muted" style="padding: 0 200px 0 200px">
        Dinas Koperasi dan UKM Kota Tomohon merupakan perangkat daerah di Kota
        Tomohon yang mempunyai tugas pokok melaksanakan urusan pemerintahan
        bidang koperasi dan usaha kecil meliputi izin usaha simpan pinjam,
        pemberdayaan dan pengembangan usaha kecil di Kota Tomohon.
      </p>
    </div>
  </div>
</div>
<!--  -->
<div
  class="container-fluid"
  data-aos="fade-up"
  data-aos-duration="750"
  style="padding: 25px 0px 25px 0px"
>
  <div
    id="tentang"
    class="row justify-content-center py-5 text-dark times-font"
    style="height: 650px"
  >
    <div
      class="col-4 justify-content-center d-flex"
      data-aos="fade-up"
      data-aos-duration="750"
    >
      <div class="card" style="width: 18rem">
        <img src="./assets/kepala-dinas.webp" class="card-img-top" alt="..." />
        <div class="card-body text-center">
          <span class="fs-5 fw-bold">Ir. Elon Musk, Ph.D</span>
          <br />
          <hr />
          <span>KEPALA DINAS</span>
          <br />
          <span class="text-success">Dinas Koperasi dan UKM Kota Tomohon</span>
        </div>
      </div>
    </div>
    <div
      class="col-8"
      data-aos="fade-up"
      data-aos-duration="750"
      style="padding-right: 200px"
    >
      <p class="fs-3 fw-bold mt-5 text-success">Visi</p>
      <p class="fs-5 text-muted">
        "Koperasi Sehat, UMKM Naik Kelas Menuju Sulawesi Utara Maju dan
        Sejahtera"
      </p>
      <p class="fs-3 fw-bold">Misi</p>
      <ol class="fs-5 text-muted">
        <li>
          Mewujudkan Koperasi yang sehat dan kuat sebagai sokoguru perekonomian
          di Provinsi Sulawesi Utara
        </li>
        <li>
          UMKM Naik Kelas dalam rangka mencapai struktur ekonomi yang produktif
          , mandiri dan berdaya saing di Provinsi Sulawesi Utara
        </li>
        <li>
          Peningkatan kualitas sumber daya manusia pelaku KUMKM dalam
          memanfaatkan Ilmu Pengetahuan dan Teknologi
        </li>
      </ol>
    </div>
  </div>
</div>
