<div class="container-fluid">
  <div
    class="row justify-content-center py-5 text-light"
    style="background-color: #212529; height: 250px"
  >
    <div class="col-10 text-center align-self-center times-font">
      <span class="fs-3"
        >Dinas Koperasi dan UKM
        <span class="text-success">Kota Tomohon</span></span
      >
      <hr />
    </div>
  </div>
</div>
<!--  -->
<div class="container-fluid">
  <div id="tentang" class="row justify-content-center" style="height: 600px">
    <div class="row my-5">
      <section id="google-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d36077.37225031141!2d124.84344808944495!3d1.3220664409668035!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x32876d42ac964947%3A0xbdac03c8035bbb1f!2sDinas%20Koperasi%20%26%20UKM%20Kota%20Tomohon!5e0!3m2!1sid!2sid!4v1679157347298!5m2!1sid!2sid"
          width="100%"
          height="500"
          style="border: 0"
          allowfullscreen="true"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </section>
    </div>
  </div>
</div>
