<div class="container-fluid">
  <div
    class="row justify-content-center py-5 text-light"
    style="background-color: #212529; height: 300px"
    data-aos="slide-right"
    data-aos-duration="1500"
  >
    <div class="col-10 text-center align-self-center times-font">
      <span class="fs-3">
        Total <span class="text-success">UMKM</span>
        <br />
        <span class="text-success">Kota</span>
        Tomohon
      </span>
      <hr />
      <p class="fs-1 text-danger"><span class="counter"></span>+ UMKM</p>
    </div>
  </div>
</div>
